{% extends "auctions/layout.html" %}

{% block heading %}
Active Listings
{% endblock %}

{% block body %}
{{ block.super }}

<div class="container">
    {% for listing in listings %}
    {% if forloop.counter0|divisibleby:3 %} <div class="row"> {% endif %}
        <div class="col-md-12 col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                {%if listing.image %}<img src="{{ listing.image.url }}" class="card-img-top"
                    alt="listing_image">{%endif%}

                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{listing.description}}</p><br>
                    {%if listing.category %} <p class="card-text"><strong>Category:</strong> {{listing.category|title}}</p>
                    {%endif%}
                </div>
                <div class="card-footer text-muted">
                    {{ listing.dollar_amount}}
                </div>
                <a href="{{ listing.get_absolute_url }}" class="stretched-link"></a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
    </div>{% endif %}
    {% endfor %}
</div>


{% endblock %}