{% extends 'auctions/layout.html'%}
{% load crispy_forms_tags %}

{% block body %}
{{ block.super }}

<div class="card mb-3">
    {%if listing.image %}<img src="{{ listing.image.url }}" class="card-img-top" alt="listing_image">{%endif%}

    <div class="card-body">
        <h5 class="card-title">{{ listing.title }} {% if is_in_watchlist %} <span class="badge badge-secondary">Watchlist</span> {%endif%}</h5>
        <p class="card-text">{{listing.description}}</p>
        <p class="card-text"><strong>Listed By: </strong>{{listing.lister|title}}</p>
        {%if listing.category %} <p class="card-text"><strong>Category:</strong> {{listing.category|title}}</p>
        {%endif%}
    </div>
    <div class="card-footer text-muted">
        {{ listing.dollar_amount}} <br>
        {{ no_of_bids }} bid(s) so far. 
        {% if is_bidder %}
        Your bid is the current bid
        {%endif%}
    </div>
</div>
{% if listing.lister == user and listing.status == listing.Status.ACTIVE %}
<a class="btn btn-danger mb-3" href="{% url 'close-auction' pk=listing.id %}" role="button">Close Auction</a>
{% elif not is_owner %}
<a class="btn btn-secondary mb-3" href="{% url 'add-to-watchlist' pk=listing.id %}" role="button">Add to Watchlist</a>
{% endif %}



<div class="card  mb-3">
    <h5 class="card-header">Comments:</h5>
    {% for comment in comments %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ comment.commenter|title}}</h5>
            <p class="card-text">{{comment.text}}</p>
        </div>
    </div>

    {% empty %}
    {%endfor%}
</div>

{% if comment_form %}
{% crispy comment_form %}

{% if bid_form and listing.status == listing.Status.ACTIVE %}
{% crispy bid_form %}
{%endif%}
{%endif%}
{% endblock%}