{% extends 'auctions/layout.html'%}
{% block heading%}
My Listings
{% endblock%}

{% block body%}
{{ block.super }}

<div class="container">
    {% for listing in listings %}
    {% if forloop.counter0|divisibleby:3 %} <div class="row"> {% endif %}
        <div class="col-md-12 col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                </div>
                <div class="card-footer text-muted">
                    Status: {{ listing.get_status_display }}
                </div>
                <a href="{{ listing.get_absolute_url }}" class="stretched-link"></a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
    </div>{% endif %}
    {% empty %}
    {% block empty_message%}
    <h1>Time to bake some cake!</h1>
    <a class="btn btn-secondary mb-3" href="{% url 'create' %}" role="button">Add a listing</a>
    {% endblock %}
    {% endfor %}
</div>

{% endblock%}